# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# knitr and R markdown default cache directories
*_cache/
/cache/

# logs
logs/project.log

.DS_Store
